@model MyHeroes.Models.LeagueOfHeroes

@{
    ViewData["Title"] = "Create";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#btnSubmit").click(function () {
            var heroes = [];
            $("input:checked").each(function () {
                var id = $(this).attr("id");
                heroes.push(id);
            });

            var name = $("#Name").val();

            $.ajax({
                type: "GET",
                url: "/LeagueOfHeroes/CreateLeague",
                traditional: true,
                data: {
                    leagueName: name,
                    heroes: heroes
                },
                contentType: "application/json",
                success: function (data) {
                    alert(data.msg);
                },
                error: function () {
                    alert("Error occured!!")
                }
            });
        });
    });
</script>

<h2>Create</h2>

<h4>League of Heroes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Heroes
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Heroes)
                    {
                        <tr>
                            <td>
                                <input type='checkbox' id="@item.Codigo" name='heroChecked' /> @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <a id="btnSubmit" value="Create" class="btn btn-default">Create</a>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
