@model MyHeroes.Models.LeagueOfHeroes

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>League of Heroes</h4>
    <hr />
    <div>
        <h4>
            <b>Name:</b> @Html.DisplayFor(model => model.Name)
        </h4>
    </div>
    <br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div>
            <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a> |
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    </form>
</div>
