@model MyHeroes.Models.Hero

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hero</h4>
    <hr />
    <div>
        <h4>
            <b>Name:</b> @Html.DisplayFor(model => model.Name)
        </h4>
        <h4>
            <b>Power:</b> @Html.DisplayFor(model => model.Power)
        </h4>
    </div>
</div>
<br>
<div>
    <div>
        <a asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</a>
    </div>
</div>
